@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Sigmar&family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Sigmar&family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Onest:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Sigmar&family=Wendy+One&display=swap");
@import "tailwindcss";

@theme {
  /* fonts */
  --font-onest: "Onest";
  --font-oswald: "Oswald";
  --font-hostGrotesk: "Host Grotesk";
  --font-sigmar: "Sigmar";
  --font-wendyOne: "Wendy One";
  --font-pridi: "Pridi";
  --font-poppins: "Poppins";

  --breakpoint-xs: 480px;

  /* heigh */
  --spacing-fullHeight: 100dvh;

  /* colors */
  --color-white: #f8f8f8;
  --color-black: #1d1d1d;

  /* tracking */
  --tracking-tightest: -0.075em;

  /* animation */
  --animate-marquee: marquee 30s linear infinite;
  --animate-marquee2: marquee2 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@utility bg-leftToRight {
  background-image: linear-gradient(white, white);
  background-size: 0 100%;
  background-repeat: no-repeat;

  &:hover {
    background-size: 100% 100%;
  }
}

@utility bg-leftToRight-black {
  background-image: linear-gradient(black, black);
  background-size: 0 100%;
  background-repeat: no-repeat;

  &:hover {
    background-size: 100% 100%;
  }
}

html {
  scroll-behavior: smooth;
}

@utility text-outline {
  color: var(--color-black);
  text-shadow:
    -1px -1px 0 var(--color-white),
    1px -1px 0 var(--color-white),
    -1px 1px 0 var(--color-white),
    1px 1px 0 var(--color-white);
}

@utility underline-animation {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/

  &:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in;
  }
}

@layer base {
  @property --fade-progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

  html,
  body {
    @apply no-scrollbar;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Inter", sans-serif;
  @apply antialiased;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-black;
  @apply border;
  @apply border-white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* overflow: hidden;  <-- Opsional */
  height: 200vh; /* Sesuaikan */
}

.left-column,
.right-column {
  /* overflow-y: auto;  <-- Opsional */
  height: 200vh; /* Sesuaikan */
}

.left-column {
  background-color: #f1f1f1;
}

.right-column {
  background-color: blue;
}
